<header class="flex justify-between items-center p-6">
  <a [routerLink]="['/']" class="flex items-center gap-2 text-xl">
    <span class="w-7">
      <img src="secretManagerLogx244.png" alt="" />
    </span>
    <h2
      class="font-bold bg-gradient-to-r from-pink-500 to-purple-500 text-transparent bg-clip-text"
    >
      Secret Manager
    </h2>
  </a>
  <div class="flex gap-4 text-sm">
    @if(!isUserLogged) {
    <button roundedButton (click)="onToggleLoginModal(true)">
      {{ "header.login.button" | transloco }}
    </button>
    <button gradient (click)="onToggleRegisterModal(true)">
      {{ "header.register.button" | transloco }}
    </button>
    }@else {
    <button roundedButton (click)="onLogout()">
      {{ "header.logout.button" | transloco }}
    </button>
    }
    <button roundedButton (click)="toggleDarkMode()">
      {{ isDarkMode ? "🌞" : "🌙" }}
    </button>
    <div class="relative">
      <button
        (click)="isLanguageOpen = !isLanguageOpen"
        roundedButton
        class="flex items-center"
      >
        <span class="fi fi-{{ currentLanguage.code }} mr-2"></span>
        <span>{{ currentLanguage.name }}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 ml-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <div
        *ngIf="isLanguageOpen"
        class="absolute right-0 mt-2 border border-purple-800 dark:bg-slate-900 text-purple-800 dark:text-slate-300 rounded-md shadow-lg overflow-hidden"
      >
        <a
          *ngFor="let language of languages"
          (click)="changeLanguage(language); isLanguageOpen = false"
          class="flex items-center px-6 py-2 hover:bg-purple-100 dark:hover:bg-purple-500/25 cursor-pointer"
        >
          <span>{{ "languages." + language.code | transloco }}</span>
        </a>
      </div>
    </div>
  </div>
</header>
<app-modal [(isOpen)]="isLoginModalOpen" width="md">
  <h2 header class="text-2xl font-bold">
    {{ "header.login.title" | transloco }}
  </h2>
  <app-login body (isLogged)="onUserLogged()"></app-login>
  <div footer class="py-1 my-2 border-t border-gray-200">
    <p>
      {{ "header.login.noAccount.text" | transloco }}
      <span
        (click)="onNoAccountClick()"
        class="text-blue-500 underline cursor-pointer"
        >{{ "header.login.noAccount.link" | transloco }}</span
      >
    </p>
  </div>
</app-modal>
<app-modal [(isOpen)]="isRegisterModalOpen" width="md">
  <h2 header class="text-2xl font-bold">
    {{ "header.register.title" | transloco }}
  </h2>
  <app-register body (isregistered)="onUserRegistered()"></app-register>
  <div footer class="py-1 my-2 border-t border-gray-200">
    <p>
      {{ "header.register.alreadyAccount.text" | transloco }}
      <span
        class="text-blue-500 underline cursor-pointer"
        (click)="onAlreadyAccountClick()"
        >{{ "header.register.alreadyAccount.link" | transloco }}</span
      >
    </p>
  </div>
</app-modal>
