<div class="absolute -z-9 bg-pink-50 w-full h-full top-0"></div>
<div
  class="absolute w-full h-full top-0 -z-9 transform-gpu overflow-hidden blur-3xl"
  aria-hidden="true"
>
  <div
    class="deform absolute top-1/16 left-1/16 w-7/8 h-7/8 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
    style="
      clip-path: polygon(
        74.1% 44.1%,
        89.83% 52.62%,
        89.83% 24.74%,
        82.77% 9.88%,
        77.84% 15.83%,
        72.5% 32.5%,
        60.2% 62.4%,
        52.4% 68.1%,
        47.5% 58.3%,
        42.84% 43.54%,
        2.52% 13.39%,
        35.16% 2%,
        27.5% 76.7%,
        0.1% 64.9%,
        17.9% 100%,
        28.36% 76.32%,
        71.22% 88.59%,
        74.1% 44.1%
      );
    "
  ></div>
  <div
    class="deform absolute top-1/16 left-1/16 w-7/8 h-7/8 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30"
    style="
      clip-path: polygon(7% 6%, 88% 14%, 15% 87%, 26% 35%, 52% 91%, 93% 55%);
      animation-direction: reverse;
    "
  ></div>
</div>
