<form
  (submit)="onSubmit()"
  card
>
  <h2 class="text-2xl font-bold mb-4">
    {{ "read.passwordPrompt.title" | transloco }}
  </h2>
  <p class="text-gray-600 mb-4">
    {{ "read.passwordPrompt.subtitle" | transloco }}
  </p>

  <div class="mb-4">
    <app-input [label]="'read.passwordPrompt.password' | transloco">
      <input
        [(ngModel)]="password"
        type="password"
        name="password"
        class="border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pink-200"
      />
    </app-input>
    <button gradient class="relative w-full">
      @if(isLoading){
      <div
        role="status"
        class="absolute inset-0 flex items-center justify-center"
      >
        <app-spinner></app-spinner>
      </div>
      }
      <p [class.scale-0]="isLoading">
        {{ "read.passwordPrompt.submit" | transloco }}
      </p>
    </button>
  </div>
</form>
