<app-modal [isOpen]="isOpen" (isOpenChange)="onClose()">
  <!-- Modal header -->

  <h3 header class="text-xl font-bold">{{ "modal.title" | transloco }}</h3>
  <!-- Modal body -->
  <div body class="p-4 space-y-4">
    <p class="text-base leading-relaxed">
      {{ "modal.content" | transloco }}
    </p>
    <p class="font-bold eading-relaxed">
      {{ secretUrl }}
    </p>
    @let secret = $secret | async;
    @if(secret) {
      <p class="text-base leading-relaxed">
        <span>{{ "modal.limits.main" | transloco }}</span>
        @if(secret.destruction) {
        <span> {{ "modal.limits.the" | transloco }} </span>
        <span class="font-bold">{{ secret.destruction | date : "dd/MM" }}</span>
        <span> {{ "modal.limits.at" | transloco }} </span>
        <span class="font-bold">{{
          secret.destruction | date : "hh:mm:ss"
        }}</span>
        } @if(secret.usageLimit && secret.destruction) {
        <span> {{ "modal.buttons.or" | transloco }} </span>}
        @if(secret.usageLimit) {
        <span> {{ "modal.limits.after" | transloco }} </span>
        <span class="font-bold">{{ secret.usageLimit }}</span>
        <span>{{ "modal.limits.usages" | transloco }}</span>
        }
      </p>
    }
  </div>
  <!-- Modal footer -->
  <div
    footer
    class="flex gap-4 justify-end items-center p-4 border-t border-gray-200 rounded-b"
  >
    <button gradient (click)="copyInClipboard()">
      {{ "modal.buttons.copy" | transloco }}
    </button>
    <button gradient (click)="onClose()">
      {{ "modal.buttons.close" | transloco }}
    </button>
  </div>
</app-modal>
