
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="secretForm"
    class="bg-white rounded-lg shadow-md p-6 max-w-md h-min"
  >
    <h2 class="text-2xl font-bold mb-4">
      {{ "form.title" | transloco }}
    </h2>
    <p class="text-gray-600 mb-4">
      {{ "form.subtitle"  | transloco }}
    </p>

    <div class="mb-4">
      <app-input [label]="'form.labels.content' | transloco ">
        <textarea
          formControlName="content"
          class="border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pink-200"
          rows="5"
        ></textarea>
      </app-input>
      <app-input [label]="'form.labels.password' | transloco ">
        <input
          type="password"
          formControlName="password"
          class="border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pink-200"
        />
      </app-input>
      <app-input [label]="'form.labels.lifetime' | transloco "
        ><input
          type="number"
          formControlName="lifetime"
          class="flex-2 border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pink-200"
          min="0"
          value="0"
        />
        <select
          formControlName="lifetimeType"
          class="flex-1 border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pink-200"
        >
          @for(lifetimetype of SecretLifetimeType | keyvalue; track
          lifetimetype.key) {
          <option [value]="lifetimetype.value">
            {{ "form.labels.lifetimeTypes."+(lifetimetype.key | lowercase) | transloco }}
          </option>
          }
        </select>
      </app-input>
      <app-input [label]="'form.labels.usageLimit' | transloco ">
        <input
          type="number"
          formControlName="usageLimit"
          class="border border-gray-300 rounded-md w-full px-3 py-2 focus:outline-none focus:ring-2 focus:ring-pink-200"
        />
      </app-input>
    </div>

    <button
      class="bg-gradient-to-br from-pink-500 to-purple-500 hover:from-pink-700 hover:to-purple-700 text-white font-bold py-2 px-4 rounded"
    >
      {{'form.labels.submit' | transloco }}
    </button>
  </form>