<form (ngSubmit)="onSubmit()" [formGroup]="secretForm" card class="max-w-lg">
  <h2 class="text-2xl font-bold mb-4">
    {{ "form.title" | transloco }}
  </h2>
  <p class="text-gray-600 dark:text-gray-500 mb-4">
    {{ "form.subtitle" | transloco }}
  </p>

  <div class="mb-4">
    <div class="flex items-center">
      <button
        type="button"
        class="flex-1 text-sm py-0 rounded-r-none cursor-pointer py-1 border border-purple-800 text-purple-800 rounded-md dark:text-slate-300"
        (click)="toggleContentType(true)"
        [class.bg-purple-500]="isTextMode"
        [class.dark:bg-purple-700]="isTextMode"
        [class.text-white]="isTextMode"
      >
        {{ "form.contentType.text" | transloco }}
      </button>

      <button
        type="button"
        class="flex-1 text-sm py-0 rounded-l-none cursor-pointer py-1 border border-purple-800 text-purple-800 rounded-md dark:text-slate-300"
        (click)="toggleContentType(false)"
        [class.bg-purple-500]="!isTextMode"
        [class.dark:bg-purple-700]="!isTextMode"
        [class.text-white]="!isTextMode"
      >
        {{ "form.contentType.file" | transloco }}
      </button>
    </div>
    @if (isTextMode) {
    <app-input [label]="'form.labels.content' | transloco">
      <textarea
        formControlName="textContent"
        [class.border-red-500]="secretForm.errors?.['textContentOrfileContentRequired'] && secretFormSubmited"
        roundedInput
        rows="5"
      ></textarea>
    </app-input>
    } @else {
    <app-input [label]="'form.labels.content' | transloco">
      <input
        type="file"
        formControlName="fileContent"
        roundedInput
        [class.border-red-500]="secretForm.errors?.['textContentOrfileContentRequired'] && secretFormSubmited"
        (change)="onFilePicked($event)"
      />
    </app-input>
    }
    <app-input [label]="'form.labels.password' | transloco">
      <input
        type="password"
        autocomplete="unique-password"
        [class.border-red-500]="
          secretForm.get('password')?.invalid && secretFormSubmited
        "
        formControlName="password"
        roundedInput
      />
    </app-input>
    <app-input [label]="'form.labels.lifetime' | transloco"
      ><input
        type="number"
        [class.border-red-500]="secretForm.errors?.['lifetimeOrusageLimitRequired'] && secretFormSubmited"
        formControlName="lifetime"
        class="flex-2"
        roundedInput
        min="0"
        value="0"
      />
      <select
        formControlName="lifetimeType"
        [class.border-red-500]="secretForm.errors?.['lifetimeOrusageLimitRequired'] && secretFormSubmited"
        class="flex-1"
        roundedInput
      >
        @for(lifetimetype of secretLifetimeType; track lifetimetype[0]) {
        <option
          [value]="lifetimetype[1]"
          class="dark:bg-slate-900 dark:text-slate-300"
        >
          {{
            "form.labels.lifetimeTypes." + (lifetimetype[0] | lowercase)
              | transloco
          }}
        </option>
        }
      </select>
    </app-input>
    <app-input [label]="'form.labels.usageLimit' | transloco">
      <input
        type="number"
        [class.border-red-500]="secretForm.errors && secretFormSubmited"
        formControlName="usageLimit"
        roundedInput
      />
    </app-input>
  </div>

  <button gradient class="relative w-full">
    @if(formIsLoading){
    <div
      role="status"
      class="absolute inset-0 flex items-center justify-center"
    >
      <app-spinner></app-spinner>
    </div>
    }
    <p [class.scale-0]="formIsLoading">
      {{ "form.labels.submit" | transloco }}
    </p>
  </button>
</form>
